@font-face {
  font-family: 'EditorsNote-Italic';
  src: url('https://cdn.jsdelivr.net/gh/AgentAutomation/custom-font/Editor%27sNote-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
