@font-face {
  font-family: 'EditorsNote-SemiboldItalic';
  src: url('https://cdn.jsdelivr.net/gh/AgentAutomation/custom-font/Editor%27sNote-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
